<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h1>Listagem de Carros</h1>

          <div class="direita">
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="CadastrarModal()">Novo</button>
          </div>

          <table class="table table-striped">
            <thead>
            <tr>
              <th>Modelo</th>
              <th>Marca</th>
              <th>Cor</th>
              <th>Ano</th>
              <th class="direita">Ação</th>
            </tr>
            </thead>

            <tbody>
              @for (carro of lista; track $index){
                <tr>
                  <td>{{carro.modelo}}</td>
                  <td>{{carro.marca}}</td>
                  <td>{{carro.cor}}</td>
                  <td>{{carro.ano}}</td>
                  <td class="direita">
                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="editarModal(carro)">Editar</button>
                    <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="excluir(carro)">Excluir</button>
                  </td>


                </tr>
              }
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #modalCarroDetalhe>
  <div class="modal-header">
    <h5 class="modal-title">{{ carroSelecionado.id > 0 ? 'Editar Carro' : 'Novo Carro' }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancelarModal()"></button>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef?.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-carrosdetails
      [carro]="carroSelecionado"
      [onSave]="salvarCarro.bind(this)"
      [onCancel]="cancelarModal.bind(this)">
    </app-carrosdetails>
  </div>



</ng-template>
