<br>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Listagem de Proprietários</h1>
      <button class="btn btn-primary" (click)="cadastrarModal()">
        Novo Proprietário
      </button>

      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          @for (proprietario of lista; track proprietario.id) {
          <tr>
            <td>{{ proprietario.nome }}</td>
            <td>{{ proprietario.cpf | cpfMask }}</td>
            <td>{{ proprietario.telefone | telefoneMask }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="editarModal(proprietario)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="excluir(proprietario)"
              >
                Excluir
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Aqui montamos e configuramos o modal -->
<ng-template #modalProprietarioDetalhe>
  <div class="modal-header bg-primary">
    <h5 class="modal-title fw-bold">
      {{
        proprietarioSelecionado.id > 0
          ? "Editar Proprietário"
          : "Novo Proprietário"
      }}
    </h5>
    <button type="button" class="btn-close" (click)="cancelarModal()"></button>
  </div>

  <div class="modal-body d-flex justify-content-center">
    <form
      #marcaForm="ngForm"
      (ngSubmit)="salvarProprietario(proprietarioSelecionado)"
    >
      <!-- Label e Input lado a lado -->
      <div class="d-flex align-items-center mb-3">
        <!-- Nome -->
        <label class="me-2 fw-bold" style="width: 100px">Nome:</label>
        <input
          mdbInput
          [(ngModel)]="proprietarioSelecionado.nome"
          #nome="ngModel"
          name="nome"
          required
          class="form-control flex-grow-1"
        />
      </div>

      <!-- Mensagem de erro -->
      <div
        *ngIf="nome.invalid && (nome.dirty || nome.touched)"
        class="text-danger text-center"
      >
        O campo <strong>Nome</strong> é obrigatório.
      </div>

      <!-- Label e Input lado a lado -->
      <div class="d-flex align-items-center mb-3">
        <!-- CPF -->
        <label class="me-2 fw-bold" style="width: 100px">CPF:</label>
        <input
          mdbInput
          [(ngModel)]="proprietarioSelecionado.cpf"
          #cpf="ngModel"
          name="cpf"
          mask="000.000.000-00"
          required
          class="form-control flex-grow-1"
        />
      </div>
      <!-- Mensagem de erro -->
      <div
        *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
        class="text-danger text-center"
      >
        O campo é obrigatório.
      </div>

      <!-- Label e Input lado a lado -->
      <div class="d-flex align-items-center mb-3">
        <!-- CPF -->
        <label class="me-2 fw-bold" style="width: 100px">Telefone:</label>
        <input
          mdbInput
          [(ngModel)]="proprietarioSelecionado.telefone"
          #telefone="ngModel"
          name="telefone"
          mask="(00) 00000-0000"
          required
          class="form-control flex-grow-1"
        />
      </div>

      <!-- Mensagem de erro -->
      <div
        *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
        class="text-danger text-center"
      >
        O campo é obrigatório.
      </div>
    </form>
  </div>

  <!-- Botões centralizados -->
  <div class="modal-footer d-flex justify-content-center bg-dark">
    <button
      class="btn btn-primary me-2"
      [disabled]="marcaForm.invalid"
      (click)="salvarProprietario(proprietarioSelecionado)"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancelarModal()">
      Cancelar
    </button>
  </div>
</ng-template>
